/* CSS files add styling rules to your content */

body {
  font-family: Xang Mono;
  margin: 2em;
  background-color: #212124;
}


/* headers and para texts */
h1 {
  font-style: italic;
  color: white;
  font-size: 50px ;
}

h2 {
  color: white;
  font-size: 30px ;
}

h3 {
  color: white;
  font-size: 20px;
}

h4 {
  color: white;
  font-size: 15px;
}

h5 {
  color: white;
  font-size: 10px;
}

h6 {
  color: white
  display:inline;
  display:table-cell;
}

p {
  color: white;
}


/* table */
table,
th,
td {
  border: 2px solid white;
  border-collapse: collapse;
  color: white;
  background: grey
}
th,
td {
  padding: 10px;
  text-align: left;
  color: white;
}


/* box style, sizing, color and col */
* {
  box-sizing: border-box;
}

.box {
  float: left;
  padding: 50px;
  height: 300px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
* {
  box-sizing: border-box;
}
.whitebox {
  background-color: white;
}
.yellowbox {
  background-color: yellow;
}
.purplebox {
  background-color: purple;
}
.bluebox {
  background-color: blue;
}
.pinkbox {
  background-color: pink;
}
.greybox {
  background-color: darkblue;
}
.threecol {
  width: 33.33%;
}
.twocol {
  width: 50%;
}
.onecol {
  width: 100%;
}


/* link */
a:link {
  color: white;
}

a:visited {
  color: lightgrey;
}

a:hover {
  color: lightblue;
}

a:active {
  color: black;
}

.attribution {
  width: 300px;
  height: 200px;
  background: white;
  border: px solid black;
  inline: block;
}

@media screen and (max-width: 800px) {
  .threecol,
  .twocol,
  .onecol {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


/* Top navigation*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #404040;
}
li {
  display: inline;
}

li {
  float: left;
}

a {
  display: block;
  padding: 12px;
}

.box {l
  ist-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;  
}
